<div class="menu">
  <ul class="list">
      <li>
        <a routerLink="/dashboard"> Anasayfa</a> 
      </li>
      <li>
          <a href="/products">Ürünler</a>
      </li>
      <li>
          <a href="/communication">İletişim</a>
      </li>
  </ul>
  <span class="sepet">
    <a 
    href="/basket">Sepet <img height="30"color="#34495e" src="https://w7.pngwing.com/pngs/8/373/png-transparent-shopping-bags-trolleys-shopping-cart-logo-online-shop-white-logo-shopping-centre.png">
    </a>
  </span>
</div>


<router-outlet></router-outlet>