
<!--<div  class="siparis">
    <form>
        <br><br>
        Adı:<br />
        <input type="text" name="adi" /><br /> <br>
        Soyadı:<br />
        <input type="text" name="soyadi" />
        <br/> <br>
       Adres:<br/>
       <input type="text" name="adres" /><br/> <br>
       

       Telefon Numaranız:
       <input type="number" name="numara" />

       <br/> <br>
       Doğum Tarihi:
      <input type="date" name="dogumtarihi" />

      <br/>
     

     <br><br>
     Siparişinizin Teslim Edilmesini İstediğiniz Tarih ve Saati Giriniz :
     <input type="datetime-local" name="tarihsaatdakika" />

     <br><br>
     <td><input type="email" name="cc" /></td>

      </form>

</div> -->

<!--<!DOCTYPE html>
<html>
<head>
    <title>Web Tasarım</title>
    <meta charset="utf-8">
    </head>-->

  <!--<body>
        
            <form>
                <fieldset>
                    <legend>
                        İletişim Formu
                    </legend>-->  
                
        <div class="genel">   
                <div class="tablo">     
                    
                    
                        <table border="1">
                            
                            <tr>
                                <td>Adınız Soyadınız : </td>
                                <td><input type="text" name="adsoyad"> </td>
                            </tr>
                            <tr>
                                <td>Adresiniz : </td>
                                <td><input type="text" name="adres"> </td>
                            </tr>
                            <tr>
                                <td>E-Posta Adresiniz : </td>
                                <td><input type="text" name="mail"> </td>
                            </tr>
                            <tr>
                                <td>Telefonunuz : </td>
                                <td><input type="text" name="mail" placeholder="(___)(_______)"> </td>
                            </tr> 
                            
                            <tr>
                                <td>TC Kimlik Numaranız : </td>
                                <td><input type="text" name="tckimlik" placeholder="11 hane olmalıdır."> </td>
                            </tr>
                            
                            <tr>
                                <td>Kargo Şekli</td>
                                <td>
                                <label for="normal">Normal Kargo</label><input type="checkbox" id="normal" value="normal"><br>
                                <label for="jet">Jet Kargo</label><input type="checkbox" id="jet" value="jet"><br>
                                
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Mesajınız : </td>
                                <td><textarea cols="22" rows="7" name="mesaj"></textarea> </td>
                            </tr>
                            

                            
                        
                        </table>

                        
                        
                        <!--</fieldset>
                        
                    </form> -->
                    
                    

                </div>    
        </div>    
        
        <div class="genel2">
            <div class="wrap">
                <div class="product">
                    <span class="totalPrice"> total price= {{totalPrice}}</span>
                    <div *ngFor="let product of products ">
                    
                        <div class="column one-third">
                            <div class="simpleCart_shelfItem item">
                               <div class="item_image" style=" display: flex;
                               justify-content: center;"><img src="{{product.imagePath}}" style="height: 300px ; "></div>
                                 <h2 class="item_name">{{product.name}}</h2>
                                    <div  style="margin-top:10px;">
                                     <span class="price"> price={{ product.price }} TL</span>
                               </div>
                             </div>
                             </div> 
                            </div>            
                    </div>
                </div>
                    
                
        </div>
        

    


    <!--</body>-->  
<!--</html> -->




<!--<div class="urunler">
<li *ngFor="let product of products ">
    <img class="resim" src="{{ product.imagePath }}"><br>
    <span class="name"> {{ product.name }}</span>
    <span class="price"> price={{ product.price }} TL </span></li>
    <span class="totalPrice"> total price= {{totalPrice}}</span>
</div> -->
    